$lightBlue: #C7F7FF;
$medBlue: #89C0C9;
$darkBlue: #3a5E63;
$lightBrown: #C9A689;
$darkBrown: #7C593C;
$lightGrey: #d4d4d4;
$darkGrey: #222;
$white: #fff;

$fontSerif: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
$fontSans: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;

$fontsize: 1.414rem;
$fontsize2: 1.999rem;
$defaultFont: 16px;
$defaultLH: 1.6;

$defaultWidth: 400px;
$maxWidth: 100%;

$padding: 0.2rem 2rem 2rem;
$defaultMargin: 0 auto;
$defaultRem: 1rem;



